<div class="form-card">
  <div class="form-header">
    <h2>{{ isEditing ? "Editar Estudiante" : "Nuevo Estudiante" }}</h2>
    <button class="btn-close" (click)="cancelled.emit()">✕</button>
  </div>
  <div *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-grid">
      <div class="form-group">
        <label>Nombres *</label>
        <input type="text" formControlName="firstName" placeholder="Juan">
        <span class="field-error" *ngIf="f['firstName'].touched && f['firstName'].errors?.['required']">
          El nombre es obligatorio</span>
      </div>
      <div class="form-group">
        <label>Apellidos *</label>
        <input type="text" formControlName="lastName" placeholder="Perez">
        <span class="field-error" *ngIf="f['lastName'].touched && f['lastName'].errors?.['required']">
          El apellido es obligatorio</span>
      </div>
      <div class="form-group">
        <label>Email *</label>
        <input type="email" formControlName="email" placeholder="juan@email.com">
        <span class="field-error" *ngIf="f['email'].touched && f['email'].errors?.['email']">
          Ingresa un email valido</span>
      </div>
      <div class="form-group">
        <label>Documento *</label>
        <input type="text" formControlName="documentNumber" placeholder="1234567890">
        <span class="field-error" *ngIf="f['documentNumber'].touched && f['documentNumber'].errors?.['required']">
          El documento es obligatorio</span>
      </div>
      <div class="form-group">
        <label>Fecha de Nacimiento *</label>
        <input type="date" formControlName="birthDate">
        <span class="field-error" *ngIf="f['birthDate'].touched && f['birthDate'].errors?.['required']">
          La fecha es obligatoria</span>
      </div>
      <div class="form-group" *ngIf="isEditing">
        <label>Estado</label>
        <select formControlName="isActive">
          <option [value]="true">Activo</option>
          <option [value]="false">Inactivo</option>
        </select>
      </div>
    </div>
    <div class="form-actions">
      <button type="button" class="btn btn-secondary" (click)="cancelled.emit()">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="submitting">
        {{ submitting ? "Guardando..." : (isEditing ? "Actualizar" : "Crear Estudiante") }}
      </button>
    </div>
  </form>
</div>
